<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Quality of This Data</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/theme.css" rel="stylesheet">
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="about">About This Data Set</a></li>
	    <li  class="active"><a href="quality">Data Quality</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
	<h1>Quality: About This Data Set</h1>
        <p>Write a brief summary about the quality of the data set here</a></p>
      </div>

    
      <div class="page-header">
	<h2>Is the data complete?</h2>
	<p>While the data does acccount for most zip codes in Pittsburgh, it is not complete. <br>
	The zip codes which had a null value, or did not have any people living in that area raised questions regarding the correctness of the data, and was hence cleaned out.<br>
	This raises the concern that our data might not show the true picture of how people in the higher money bracket are actually preferring to live.<br>
	Further, the data has been cleaned and trimmed using Wrangler to only include Zip codes inside Pittsburgh, to narrow our focus. (15200-15300)</p>
      </div>
      
      <div class="page-header">
	<h2>Is the data coherent?</h2>
	<p>The data is coherent, since the incoherent data has been removed with the use of wrangler. The data that was not coherent, had string values where numeric was expected,<br>
	and that did not add up has been deleted for accuracy. This data is coherent.</p>
      </div>

      <div class="page-header">
	<h2>Is the data correct?</h2>
	<p>The data is correct. I can verify that by cross checking the pin codes and understanding the population density of the city of Pittsburgh, and it checks out. <br>
	The data that was not correct has been removed with the use of Wrangler. </p>
      </div>

<div class="page-header">
<h2>Difference in original data and wrangled data</h2>
<p>Below our two charts, first showing the original data continuous plot and second showing the wrangled, cleaned data. <br>
The data is plot between the two parameters we display in the table in the main page, the number of people in the zip code who were surveyed and number of people earning above $100,000 <br>
We observe that it is more spaced out and gives us a clearer view.</p>

<iframe width="500" height="300" scrolling="no" frameborder="no" src="https://fusiontables.google.com/embedviz?containerId=googft-gviz-canvas&amp;q=select+col1%2C+col139%2C+col148+from+11n5PXVs4DFdkq6NP9shRb2_B22wGUU8B4v92HJxR+order+by+col1+asc&amp;viz=GVIZ&amp;t=SCATTER&amp;rmax=250&amp;uiversion=2&amp;gco_forceIFrame=true&amp;gco_hasLabelsColumn=true&amp;width=500&amp;height=300"></iframe>
<br>
<br>
<iframe width="500" height="300" scrolling="no" frameborder="no" src="https://fusiontables.google.com/embedviz?containerId=googft-gviz-canvas&amp;q=select+col1%2C+col139%2C+col148+from+13wX-LxcnxsX15SJ9YiD3ueQ9eXRYplKBy8XYTXKR+order+by+col1+asc&amp;viz=GVIZ&amp;t=SCATTER&amp;rmax=250&amp;uiversion=2&amp;gco_forceIFrame=true&amp;gco_hasLabelsColumn=true&amp;width=500&amp;height=300"></iframe>
<br>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
  </body>
</html>
